@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body,html{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    width: 100%;
    height: 100%;

    background-image: url("../img/JumpDino.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 20px;
}

#gameCanvas{
    width: 570px;
    height: 200px;
    margin-top: 200px;
    background-color: white;
    border: 5px solid black;
}