@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body,html{
    width: 100%;
    height: 100%;
}

h1{
    color: white;
}

p{
    color: white;
}

.main{
    width: 100%;
    height: 100%;
    
    background-image: url("../img/updownback.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highmenu{
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
}

.highmenu > input{
    width: 100px;
    height: 40px;
    margin-left: 50px;
    margin-bottom: 50px;

    border-radius: 50px;
    border: none;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.19);
}

.board{
    height: 300px;
    margin-bottom: 40px;
    color: white;
    font-size: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 4px dashed white;
}

.count{
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.printrandom{
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: right;

    margin-bottom: 50px;

    border-radius: 100px;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.submitNum{
    width: 250px;
    height: 40px;
    border-radius: 100px;
    outline: none;
    padding-left: 10px;
} 

.submitbut{
    width: 50px;
    height: 38px;

    border-radius: 30px;
}